<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: hotpink;
      }
      .profile {
        background-color: white;
        width: 300px;
        text-align: center;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
      }

      img {
        width: 50%;
        margin: 30px;
      }
    </style>
  </head>
  <body>
    <div class="profile">
      <h2><%= user.id %>님 환영합니다!</h2>
      <img src="<%= filePath %>" alt="프로필 이미지" />
      <div class="userInfo">
        <p>비밀번호: <%= user.pw %></p>
        <p>이름: <%= user.name %></p>
        <p>나이: <%= user.age %></p>
      </div>
    </div>
  </body>
</html>
